@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Inika:wght@400;700&family=Kavoon&display=swap');
*{
    margin: 0;
    padding: 0
}
body{
    background-color: #555555;
}
#container{
    width: 1280px;
    background-color: rgb(223, 31, 31);
    margin: 0 auto;
    color: white;
}
header{
    width: 1280px;
    height: 200px;
    background-color: #07462c;
    display: flex;
    align-items: center;
}
.titulos{
    height: 200px; 
    width: 700px;
    margin-left: 100px;  
    margin-top: 45px;
}
.logo{
    width: 240px;
    height: 145px;
    margin-left: 80px;
}
.titulo1{
    font-family: "Kavoon", serif;
    color: crimson;
    font-size: 96px;
    font-weight: bold;
    text-align: left;    
}
.titulo2{
    font-family: "Inika", serif;
    font-size: 20px;
    text-align: right;
    color: white;
}
nav{
    width: 1280px;
    height: 52px;
    background-color: rgb(216, 24, 24);    
    font-family: "Convergence", sans-serif; 
    font-size: 20px;       
}
nav ul{
    display: flex;
    justify-content: center;    
    gap: 80px;      
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li a{
    display: block;
    color: rgb(179, 135, 135);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
}
nav ul li a:link, a:visited, a:active{
    color: bisque;    
}
nav ul li a:hover{
    background-color: rgb(43, 255, 0);
    color: #cedbcb;
    transition: all 0.3s;
}

#main-index{
    background-color: #0e5208;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;    
}

#main-padrao{
    background-color: white;
    padding: 30px;
}
article{
    background-color: #D9D9D9;
    border: 2px solid rgba(202, 14, 14, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 290px; 
}

footer{
    width: 1280px;
    height: 100px;
    background-color: #f8381f;
    display: flex;    
    justify-content: space-around;
    align-items: center;  
    font-family: "Kavoon", serif;
}
footer a:link, a:visited, a:active{
    text-decoration: none;
    font-weight: bold;
}
footer a:link, a:visited, a:active{
    text-decoration: none;
    font-weight: bold;
    }
.fotonoticia{
    width: 280px;
    border-radius: 150px;
}   
.textonoticia{
    width: 312px;
    font-size: 16px;
    font-family: "inika", serif;
} 
.saibamais{
    float: right;
}
.titulo{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    font-family: 'kavoon', serif;
    color: black;    
}
.imagem-noticia{
    width: 70%;
    margin: 10px;
}
.noticia{
    width: 80%;
    margin: 0 10%;
    color: black;
    font-size: medium;
    text-align: center;
    font-family: "inika",serif;
    background-color: white;
}
.endereco{
    text-decoration: none;
    color: red;
    
}
